@charset "utf-8";
/* Reset css*/
html{margin:0px;padding:0}
body{background-color:white;color:#b5b5b5;font-family:"宋体",arial;font-size:12px;font-style:normal;margin:0px;padding:0}
/*普通连接*/
a{color:#b5b5b5;cursor:pointer;text-decoration:none}
a:hover{color:#c1272d}
h1,h2,h3,h4,h5,h6,form,div,p,i,img,ul,li,ol,table,tr,td,dl,dt,dd,fieldset,label,legend{margin:0;padding:0}
ul li{list-style:none}
fieldset,img,table{border:none}
td{font-size:12px;line-height:180%}
form{margin:0px;padding:0px}
*:focus{outline:none}
.clear{clear:both}
/* .hide{display:block;overflow:hidden;text-indent:-900px} */
/*主体部分*/
/* .main{ */
/* /* 	background:url("../images/header_bg.png") top repeat-x; */ */
/*     background:red; */
/* 	min-width:1000px; */
/* 	overflow:hidden; */
/* 	width:100%; */
/*     height:auto */
/* } */
.header{
	background:url("") no-repeat top left;
	margin:123px auto 0;
	width:330px;
	height:41px
}
/*中部内容部分*/

.title{
	padding-left:130px;
    font-size:30px;
	margin:37px auto 20px;
	width:229px;
	height:36px;
	color: #363636;
}
.input{
	margin:0 auto 11px;
	width:237px
}
.input_all{
	border:none;
/* 	color:#555; */
	font-size:14px;
/* 	line-height:30px; */
	padding:10px 0 10px 46px;
/* 	vertical-align:middle; */
	width:237px;
	height:30px
}
.name{
	background:url("../images/input_name.png") no-repeat top left
}
.name_now{
	background:url("../images/input_name_hover.png") no-repeat top left
}
.password{
	background:url("../images/input_password.png") no-repeat top left
}
.password_now{
	background:url("../images/input_password_hover.png") no-repeat top left
}
.enter{
	margin-top:15px
}
.button{
	font-size:19px;
	cursor:pointer;
	margin:0 auto;
	width:	85px;
	height:30px;
	background:#1C86EE;
	border-radius:3px;
	text-align: center;
	padding-top: 11px;
	color: #FCFCFC;
}
.checkbox{
	font-size:12px;
	margin:0 auto;
	width:237px;
	height:30px
}
.checkbox input{
	display:block;
	float:left;
	margin-right:4px
}
.checkbox span{
	display:block;
	float:left;
	xheight:20px;
	line-height:20px;
	*line-height:22px
}
#reg{
	margin-top:-25px;
	float:right;
    height:20px;
	line-height: 10px;
}